/*RESET*/
*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}
/*Fonts*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
   
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    padding-right: 5px;
}
li{
    list-style: none;
}
button{
    border: none;
}
label{
    margin-right: 2em;
}
input{
    padding: .25em;
}

/*COLORI*/

.gray{
    color: gray;
}
.blue-check{
    color: #0161FF;
}
.green{
    background-color: #A2D39B;
}
.bordò{
    background-color: #62092B;
}
.sky{
    background-color: #0093CE;
}
.lightred{
    background-color: #FF1D1C;
}
.red{
    background-color: #D50020;
}
.cloud{
    background-color: #B4D0E7;
}
.blue{
    background-color: #0D2481;
}
.yellow{
    background-color: #FFD830;
}

/*Selettori*/

.text-padding{
    padding: .5em 0px;
}

.uppercase{
    text-transform: uppercase;
}

.start-btn{
    background-color: #0161FF;
    color: white;
    padding: .3em 1em;
}
.blue-btn{
    background-color: #0161FF;
    color: white;
    padding: 1em 2.5em;
    margin: 2em 0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    margin-top: 150px;
    width: 100%;
}

.img-width{
    width: 100%;
}

.arrow-icon{
    font-size: 3rem;
    padding-top: 2em;
}




.left-section, .right-section{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    padding: 1em 0em;
}

.left-section .header-list{
    justify-content: flex-start;
    padding-left: 1em;
}

.right-section .header-list{
    justify-content: flex-end;
    padding-right: 1em;
}

.header-list{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hero-bg{
    background-color: #B4D0E7;
    width: 100%;
    height: 750px;
}

.hero{
    width: 70%;
    margin: 0 auto;
    padding-top: 70px;
}

.main-title{
    font-size: 5rem;
}

.hero-container{
    width: 100%;
    display: flex;
    padding-top: 70px;
}

.hero-description{
    width: 30%;
}

.hero-img{
    width: 70%;
}

.container{
    width: 60%;
}

.title{
    font-size: 2.25em;
    padding-bottom: 60px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.plans{
    width: calc((100% / 3) - 50px);
    height: 950px;
    margin-top: 50px;
    border: 2px solid lightgray;
    
}
 .plan-type{
    line-height:40px;
    border-bottom: 2px solid lightgray;
    text-align: center;
 }

 .plan-options{
    padding: 25px 25px;
 }

 .plan-options h2{
    font-size: 1.4rem;
 }

.bold{
    font-weight: bold;
 }

 .plan-options div{
    padding:15px 0px ;

 }

 .divider{
    margin: 45px 0px;
    width: 50px;   
 }


ul .text-padding{
    padding-left: 25px;
    position: relative;
}

.text-padding i{
    position: absolute;
    left: 0px;
    top: 10px;
}

.enterprise{
    width: 100%;
    height: 250px;
    margin: 50px 0px;
    border: 2px solid lightgray;
 }

.enterprise-content{
    padding: 25px 25px;
    position: relative;
}
.enterprise-content button{
    position: absolute;
    right: 25px;
    top: 0;
}

.enterprise-content p:first-of-type{
    padding-top: 1em;
    font-size: .75rem;
}

.enterprise-content p:last-of-type{
    padding-top: 5em;
    font-size: .75rem;
    width: 500px;
}
 .enterprise h2 {
    font-size: 1.3rem;
 }

 .partner-container{
    display: flex;
    width: 60%;
 }

 .partner-img-container{
    width: 60%;
 }

 .partner-description{
    width: 40%;
    padding: 50px;
 }

.partner-img{
    width: 100%;
}

.secondary-title{
    padding: 1em 0;
}

.partner-btn{
    background-color: white;
    border: 1px solid black;
    padding: 1em;
    margin-top: 2em;
}

.operation-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5em;
    gap: 50px;
}

.operation{
    width: calc((100% - 100px) / 3);
}

.operation-img{
    width: 100%;
}

.short{
    width: 30ch;
}

.side-container, .center-container{
    width: calc(100% / 3);
    border: 1px solid black;
    height: 500px;
}

.side-container{
    display: flex;
    flex-wrap: wrap;  
}
.members-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.members-img{
    width: 50%;
    color: white;
}